<h2>App Info</h2>

<table>
    <tr>
        <td>App ID</td>
        <td>{{ app.app_id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ app.name }}</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>{{ app.category }}</td>
    </tr>
    <tr>
        <td>Rating
        <td>{{ app.rating }}</td>
    </tr>
    <tr>
        <td>Installs</td>
        <td>{{ app.installs }}</td>
    </tr>
</table>

<a href="/">Back</a>